---
layout: default
title: Actions soutenus
pill: 1
subpill : 1
---

<div class="ui vertical stripe segment">
  <div class="ui middle aligned stackable grid container">
    <div class="row">
      <div class="twelve wide column"  id="main">
        <div class="ui text container">
          <div class="ui breadcrumb">
            <div class="section">Notre projet</div>
            <i class="right angle icon divider"></i>
            <a href="{{ root }}/activities.html" class="section">Actions soutenues</a>
          </div>
          <h1 class="ui header">Actions soutenues</h1>
          <div class="ui divider"></div>
          {% for post in site.posts %}
          {% if post.tags contains "Event" %}
          {% include post.html %}

          {% endif %}

          {% endfor %}
        </div>
    </div>

      {% include rail.html %}
      <!-- Pagination links -->
    </div>


  </div>
</div>
