---
layout: default
title: Vidéos
pill: 3
subpill: 1
---

<div class="ui vertical stripe segment">
  <div class="ui middle aligned stackable grid container">
    <div class="row">
      <div class="twelve wide column"  id="main">
        <div class="ui text container">
          <div class="ui breadcrumb">
            <div class="section">Serge Moscovici</div>
            <i class="right angle icon divider"></i>
            <a href="{{ root }}/activities.html" class="section">Ses vidéos</a>
          </div>
          <h1 class="ui header">Vidéos de Serge Moscovici</h1>
          <div class="ui divider"></div>
          {% for post in site.posts %}
          {% if post.tags contains "Video" and post.video %}
          {% include post.html %}
          {% endif %}
          {% endfor %}
        </div>
      </div>
      {% include rail.html %}
      <!-- Pagination links -->
    </div>


  </div>
</div>
