---
layout: default
title: Vidéos
pill: 4
---

<div class="ui vertical stripe segment">
  <div class="ui middle aligned stackable grid container">
    <div class="row">
      <div class="twelve wide column"  id="main">
        <div class="ui text container">
          {% for post in site.posts limit:6 %}
          <div class="post">


            <h3 class="ui header">
          {{ post.titre }}
              <div class="sub header">Posté le {{ post.date | date: "%d %B %Y" }}</div>
          {% for tag in post.tags %}
          {% if tag == "Actualités" %}
          <a class="ui tag label">Actualités</a>
          {% endif %}
          {% if tag == "Video" %}
          <a class="ui blue tag label">Vidéos</a>
          {% endif %}
          {% if tag == "EASP 2016" %}
          <a class="ui yellow tag label">EASP 2016</a>
          {% endif %}
          {% if tag == "event" %}
          <a class="ui orange tag label">Evènement</a>
          {% endif %}
          {% endfor %}
            </h3>
          {{ post.content }}
          {% if video %}
          <div class="ui embed" data-source="youtube" data-id="{{ post.video }}" data-placeholder="http://img.youtube.com/vi/wNpRg02Rmho/default.jpg"></div>
          {% endif %}

          </div>
          <div class="ui divider"></div>

          {% endfor %}
          <div class="post">
            <h3 class="ui header">Serge Moscovici, un dialogue inédit avec Pascal Dibie 2004
              <div class="sub header">Posté le 8 Mars 2017</div>

            </h3>
            <a class="ui blue tag label">Vidéo</a>
            <p>Vidéo inédite diffusée lors de la conférence internationale en hommage à Serge Moscovici à Paris (16-17 mars 2017).</p>
            <div class="ui embed" data-source="youtube" data-id="wNpRg02Rmho" data-placeholder="http://img.youtube.com/vi/wNpRg02Rmho/default.jpg">
            </div>
          </div>

          <div class="post">
            <div class="ui divider"></div>
            <h3 class="ui header">Colloque international en hommage à Serge Moscovici (16-17 mars 2017)
              <div class="sub header">Posté le 2 Février 2017</div>
              <a class="ui orange tag label">Evènement</a>
            </h3>
            <p>
              Paris, Maison de l’Amérique latine
            </p>
            <a href="http://www.fmsh.fr/fr/recherche/28131" class="ui large button">En savoir plus</a>
          </div>

          <div class="post">
            <h3 class="ui header">Peut on encore rêver dans un monde prisonnier du réel ?
              <div class="sub header">Posté le 8 Avril 2014</div>
              <a class="ui blue tag label">Vidéo</a>
            </h3>
            <p>Vidéo inédite diffusée lors de la conférence internationale en hommage à Serge Moscovici à Paris (16-17 mars 2017).</p>
            <div class="ui embed" data-source="youtube" data-id="GSAoJguKfmk" data-placeholder="http://img.youtube.com/vi/GSAoJguKfmk/default.jpg">
            </div>
          </div>




        </div>

      </div>
      <div class="ui right internal attached rail">
        <div class="ui segment">
          <div class="ui sticky">
            <a class="ui fluid " href="http://www.fmsh.fr">
              <div class="ui fluid image">
                <img src="/assets/images/fmsh.png">
              </div>
              <div class="content">
                <a class="header">Remosco</a>
                <div class="meta">
                  <span class="date">Créé en mai 2014</span>
                </div>
                <div class="description">
                  S'inscrivant dans la suite des activités du Laboratoire Européen de Psychologie Sociale, ce réseau a pour vocation d’étendre et de pérenniser l’inventivité de l'œuvre de Serge Moscovici à travers la vaste communauté internationale de chercheurs qui s’appuient sur ses travaux.
                </div>
              </div>
              <!--
              <div class="extra content">
              <a>
              <i class="user icon"></i>
              22 Friends
            </a>
          </div>
        -->
      </a>
    </div>
  </div>
</div>

</div>
<div class="row">
  <div class="center aligned twelve wide column container">
    <div class="ui pagination menu">
      <a class="active item">
        1
      </a>
      <div class="disabled item">
        ...
      </div>
      <a class="item">
        10
      </a>
      <a class="item">
        11
      </a>
      <a class="item">
        12
      </a>
    </div>
  </div>
</div>
</div>
</div>
