{% if include.mode == 'author' %}
<a class="item" href="#{{ event.title }}" data-text="{% for speaker in event.people %}{{ speaker.name }} {% endfor %}">
  {% else %}
  <a class="item" href="#{{ event.title }}" data-text="{{ event.title }}">
    {% endif %}
    <img class="ui circular image" src="http://img.youtube.com/vi/{{ event.video }}/default.jpg">
    <span class="description">  {% for people in event.people %}
      {{ people.name }} <span style="font-weight:400;">({{ people.title }})</span>
      {% endfor %}</span>
      <span class="text">{{ event.title }}</span>
    </a>
