<div class="ui long modal" id="{{ key | slugify }}">
  <i class="close icon"></i>
  <div class="header">
    [{{ include.member.role }}] {{ include.member.firstname }} {{ include.member.lastname }} - {{ include.member.employer }}, {{ include.member.country }}
  </div>
  <div class="content">
    <div class="description">
      <div class="ui grid">
        <div class="column four wide">
          <h2 class="ui sub header">Liens</h2>
          <ul>
            {% if include.member.website %}
            <li>
              <a href="{{ include.member.website }}" target="_blank">Page personnelle</a>
            </li>
            {% endif %}
            {% if include.member.zotero %}
            <li><a href="{{ include.member.zotero }}" target="_blank">Zotero</a></li>
            {% endif %}
            {% if include.member.academia %}
            <li><a href="{{ include.member.academia }}" target="_blank">Academia.edu</a></li>
            {% endif %}
            {% if include.member.mendeley %}
            <li><a href="{{ include.member.mendeley }}" target="_blank">Mendeley</a></li>
            {% endif %}
          </ul>

        </div>
        <div class="column twelve wide">
          <h2 class="ui sub header">
            Bibliographie
          </h2>
          {% if  include.member.bibtex_url %}
          <iframe src="https://bibbase.org/show?bib={{ include.member.bibtex_url }}" width="100%" height="800" border="0" ></iframe>
          {% else if include.member.bibtex_file %}
          <iframe src="https://bibbase.org/show?bib={{ include.member.bibtex_file }}" width="100%" height="800" border="0"  ></iframe>
          {% else if include.member.raw_bibliography %}
          {{ include.member.raw_bibliography }}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
