<div class="ui right internal attached rail large screen only">
  <div class="ui segment">
    <div class="ui sticky">

      <a class="ui fluid " href="http://www.fmsh.fr">
        <div class="ui fluid image">
          <img src="https://remosco.github.io/website/assets/images/fmsh.png">
        </div>
        <div class="content">
          <a class="header">Remosco</a>
          <div class="meta">
            <span class="date">Créé en mai 2014</span>
          </div>
          <div class="description">
            S'inscrivant dans la suite des activités du Laboratoire Européen de Psychologie Sociale, ce réseau a pour vocation d’étendre et de pérenniser l’inventivité de l'œuvre de Serge Moscovici à travers la vaste communauté internationale de chercheurs qui s’appuient sur ses travaux.
          </div>
        </div>
      </a>
      <div class="ui divider"></div>
      <a class="fluid ui black button big" href="https://remosco.github.io/website/signup.html">
        <i class="sign in icon"></i>
        Rejoindre le Remosco
      </a>
    </div>
  </div>
</div>
