<div class="ui right internal attached rail">
  <div class="ui segment">
    <div class="ui sticky">
      <a class="ui fluid " href="http://www.fmsh.fr">
        <div class="ui fluid image">
          <img src="{{ site.github.baseurl }}/assets/images/fmsh.png">
        </div>
        <div class="content">
          <a class="header">Remosco</a>
          <div class="meta">
            <span class="date">Créé en mai 2014</span>
          </div>
          <div class="description">
            S'inscrivant dans la suite des activités du Laboratoire Européen de Psychologie Sociale, ce réseau a pour vocation d’étendre et de pérenniser l’inventivité de l'œuvre de Serge Moscovici à travers la vaste communauté internationale de chercheurs qui s’appuient sur ses travaux.
          </div>
        </div>
        <!--
        <div class="extra content">
        <a>
        <i class="user icon"></i>
        22 Friends
      </a>
    </div>
  -->
</a>
</div>
</div>
</div>
